<h3>ComponentPartial</h3>
<div id="PartialComponentDiv">
    <p>ServerPrerendered</p>
    <component type="typeof(Components.Test)" render-mode="ServerPrerendered" param-InitialValue="20" />
</div>


@code {

}


